<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to our 3rd Web App!</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/">Strings</a>
        </nav>
    </header>
    <main>
        <h2>Come see what we have been building</h2>
    </main>
</body>
</html>