header {
    display: flex;
    background-color: rgb(159, 197, 248);
    color: white;
    justify-content: space-between;
    margin: 0;
}
h1 {
    color: white;
    padding: 0 1em;
}
nav {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.showtempin {
    display: flex;
    justify-content: space-between;
}
.tempin {
    display: flex;
    width: 40%;
}
h2 {
width: 400px;
}
.cookie {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

